 :root{
	 color:#f6f1ed;
	 --secondary: #686663;
	--primary: #252627;
	font-family: 'Sniglet', cursive;
 	font-family: 'Cabin', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Quicksand', sans-serif;
		
 }
 .fa {
	display: inline-block;
	font: normal normal normal 3em FontAwesome;
	font-size: inherit;
    text-rendering: auto;
    font-weight: 100;
    }
.fa-cog:before {
	content: "\f040";
}
.fa-skills:before {
	content: "\f439";
}
.fa-home:before {
	content: "\f015";
}
body {
	background:var(--primary);
}
#nav_bar {
	background: #181818;
	width: 5vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 0;	 
}
#nav_bar nav {
	display: block;
	text-align: center;
	position: absolute;
	top: 50vh;
	top: 2vh;
	width: 100%;
}
#nav_bar nav a {
	font-size: 4vw;
	color: #4d4d4e;
	display: block;
	line-height: 2vh;
	height: 10vh;
	position: relative;
	text-decoration: none;
	font-family: 'Quicksand';
}
#nav_bar nav a div {
 
	transition: all 1s ease-out;
}
#nav_bar nav a:hover div {
	opacity: 0;
}
#nav_bar nav a.active,#nav_bar nav a:hover {
	color: #AD655F;
} 

#nav_bar nav a:first-child:after {
 	content: 'HOME';
}
#nav_bar nav a:first-child+a:after {
 
	content: 'ABOUT';
}
#nav_bar nav a:first-child+a+a:after {	 
	content: 'PROJECTS';
}
#nav_bar nav a:after {
	content: '';
	font-size: .5em;
	letter-spacing: 2px;
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	text-align: center;
	opacity: 0;	
	transition: all .3s ease-out;
}
#nav_bar nav a:first-child+a+a+a:after {
	content: 'MY WORK';
}
#nav_bar nav a:hover:after {
	opacity: 5;
}

#nav_bar ul {
	position: absolute;
	bottom: 20px;
	width: 100%;
	display: block;
	padding: 0;
	list-style: none;
	text-align: center;
	margin: 0;
}
#nav_bar ul li a {
	padding: 7px 0;
	display: block;
	font-size: 3vw;
	line-height: 16px;
	color: #4d4d4e;
}
#nav_bar ul li a:hover {
	color: #AD655F;
}
.intro{	
	display: grid;
	grid-column: auto;	
	grid-auto-rows: 1fr 3fr;
 	width: 60vw;
	margin: 20vh 20vw;
	grid-gap: 3vw;
 }
.fullname{
	font-size: 3vw;
	text-align: center;
}
.topline{
	top:2vh;
	width: 80vw;
	margin: 0 10vw;
	border: 1vw solid #686663;
}
.line{
height: 2px;
 margin-top: 100vh;
}
 .about{
	display: flex;
	flex-direction: column;
	margin: 15vh 15vw;
	width: 70vw;
}
.abouttext{
     background:var(--secondary);
	 font-size: 2vw;
	 padding: 2vh;
	 text-align: left;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
blockquote {
	margin: 0 1.5em;
}
img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}
.cards {
	max-width: 25em;
	margin: 1em auto;
	padding: 0;
	list-style-type: none;
   background: var(--secondary);
}

.cards a {
	display: block;
	margin-bottom: 1em;
	text-decoration: none;
}

.caption {
	padding: 1em;
	font-size: 80%;
	color: black;
}
.caption-title {
	margin: 0;
	font-size: 2em;
	line-height: 1em;
}

.caption p {
	margin-top: .5em;
	margin-bottom: 0;
} 
@supports (grid-area: auto) {

	@media screen and (min-width: 27em) {

		.cards {
			margin: 0 auto;
			padding: 1em;
			margin: 1vh auto;
		    
		}

		.card {
			margin: 1em 0;
			padding: .5em;
			display: grid;
			grid-template-columns: 8em auto;
		     
		}

		.cards a:focus,
		.cards a:hover {
			outline: 4px solid hsl(0, 0%, 80%);
		}
	}


	@media screen and (min-width: 60em) {

		.cards{
			max-width: none;
			margin: 1vw 0;
			display: grid;
			grid-template-columns: repeat(2, 30vw);			
			grid-gap: 2em;
			justify-items: center;
		}
			.card{
				margin: 0;
			}
			.double
			{
				grid-row:  span  3;	
			}
			.double .card
			{
				display: block;				 
			}
		 
	}

}   body {
	margin: 0;
	text-align: center;
	font-family: roboto;
}
#projects{
	margin: 30vh 10vw;
}
.gallerycontainer {
	position: relative;
	display: block;
	margin: 15vh auto;
	max-width: 80vw;
}
.slider__items {      
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slider__item { 
	position: relative;
	display: none;
	width: 100%;
	transition: transform 0.6s ease;
	backface-visibility: hidden;
}
.slider__item_active,
.slider__item_next,
.slider__item_prev {
	display: block;
}

.slider__item_next,
.slider__item_prev { position: absolute;
	top: 0;
}

.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
	transform: translateX(0);
}

.slider__item_next,
.slider__item_right.slider__item_active {
	transform: translateX(100%);
}

.slider__item_prev,
.slider__item_left.slider__item_active {
	transform: translateX(-100%);
}
		.slider__control {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8%;
	color: #fff;
	text-align: center;
	opacity: 0.5;
}

.slider__control:hover,
.slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: .9;
}

.slider__control_prev {
	left: 0;
}

.slider__control_next {
	right: 0;
}

.slider__control::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

.slider__control_prev::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.slider__indicators {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0;
	height: 13px;
	z-index: 15;
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style: none;
}

.slider__indicator {
	position: relative;
	flex: 0 1 auto;
	width: 30px;
	height: 1em;
	margin-right: 3px;
	margin-left: 3px; 
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 6px;
}

.slider__indicator::before {
	position: absolute;
	top: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 10px;
	content: "";
}

.slider__indicator::after {
	position: absolute;
	bottom: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 10px;
	content: "";
}

.slider__indicator_active {
	background-color: #fff;
}

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}     
.slider__item {
	height: 320px;
	overflow: hidden;
	background: brown;
}
.slider__item_inner {
	position: absolute;
	left: 4vw;
	right: 5em;
	top: 36px;
	bottom: 4em;
	overflow: hidden;    
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.slider__item_img 
{
padding-top: 5em;
justify-self: center;     
	min-width: 20vw;
}

.slider__item_testimonial {       
	display: flex;
	flex-direction: column;
	text-align: center;
}
.slider__item_name {
	font-size:2vw;
}
.slider__item_post {
	font-size: 1vw;
	padding:1px;
}
.slider__item_text {
	font-size: 1.1vw;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 12px;
	display: none;
}
@media (min-width: 576px) {
	.slider__item {
		height: 45vh;
	}
	.slider__item_inner {
		flex-direction: row;
	}
	.slider__item_testimonial {
		fon
		margin-left: 2em;
	}
	.slider__item_img {         
	 width: 150px;
		height: 200px;
	}
	.slider__item_testimonial {
		font-family: 'Quicksand', sans-serif;
		padding: 1em;
		text-align: left;
	}
	.slider__item_post,
	.slider__item_text {
		display: block;
	}
}

.btn {
	display: block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1em ;
	color: #fff;     
	text-decoration: none;
		}

.btn:hover {
	color: #fff;
	background-color: brown;
}
